
{% layout 'layout.liquid'%}

{% block content %}
    <div >
        <h2 class="display-6">All Recipes</h2>
        <div class="row">

            {% for item in recipe %}
                <div class="card" style="width: 18rem;">
   
                    <h5 class="card-header">{{item.name}}</h5>
                    <div class="card-body">
                        
                        <p class="card-text"> 
                            This is a recipe for {{item.name}}
                            <br>
                            
                        </p>
                        <ul>
                        {% for ingreds in item.ingredients%}
                            
                            <li class="list-group-item">{{ingreds.name}} {{ingreds.amount}} {{ingreds.measurement}}</li>
                            {% endfor %}
                        </ul>
                        <a href="/recipes/{{ item.id }}" class="btn btn-info">
                            View {{ item.name }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
